.box {
    height: 150px;
    width: 150px;
    background-color: red;
    border-style: solid;
    border-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,150px);
}

#display-text {
    font-size: xx-large;
}